body {
  background: #f3f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: 'Bitter', serif;
  font-weight: 500;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin: 0 0 0.7em 0;
}

h1 span {
  font-weight: 700;
}

h2.title {
  margin-top: 2em;
  font-weight: 600;
}



.app {
  background: #FFF;
  border-radius: 10px;
  border: 2px #0e203d solid;
  max-width: 700px;
  width: 100%;
  padding: 3em;
  margin-top: 5em;
  /* box-shadow: 1px 1px 0 0 #0e203d,2px 2px 0 0 #0e203d,3px 3px 0 0 #0e203d,4px 4px 0 0 #0e203d,5px 5px 0 0 #0e203d,6px 6px 0 0 #0e203d; */
}

.app-add {
  display: flex;
  gap: 1em;
}

.form-control {
  border: 2px #0e203d solid;
  flex-grow: 1;
}

.submit-button {
  padding: 1em;
  box-shadow: 0 1px 0 0 #0e203d, 0 2px 0 0 #0e203d, 0 3px 0 0 #0e203d;
  border-radius: 1em;
  font-weight: bold;
  color: #0e203d;
  background: #00d1ca;
  border: 2px #0e203d solid;
  position: relative;
  top: 0;
  transition: all 100ms;
  font-size: 1em;
}

.submit-button svg {
  width: 100%;
  height: auto;
}

.submit-button-small {
  width: 32px;
  height: 32px;
  padding: 0.35em;
}

.submit-button-small.delete {
  padding: 0.2em;
  /* Not sure why the delete icon is smaller. Make it visually the same size */
}

.submit-button:hover {
  box-shadow: 0 0 0 0 #0e203d, 0 0 0 0 #0e203d, 0 0 0 0 #0e203d;
  top: 3px;
}

.submit-button.delete {
  background: #fcc7c7;
}

.submit-button.edit {
  background: #c7e6fc;
}

.submit-button.save {
  background: #1a263e;
  color: #fff;
}

.app-todos {
  margin: 0 0 0 0;
  padding: 0;
}

.app-todos li {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.1em;
}

.app-todos li+li {
  margin-top: 1em;
  border-top: 1px #d3d3d3 solid;
  padding-top: 1em;
}

.app-todos-buttons {
  display: flex;
  gap: 0.5em;
}

.app-todos-title {
  flex-grow: 1;
}

.app-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4em 0 0 0;
}

.form-control {
  font-size: 1.15em;
  padding: 0.25em 1em;
}

.okteto {
  margin-top: 4em;
  width: 100px;
  height: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0e203d70;
  z-index: 2;
  display: none;
}

.modal-open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  background: #FFF;
  border-radius: 10px;
  border: 2px #0e203d solid;
  max-width: 700px;
  box-shadow: 1px 1px 0 0 #0e203d, 2px 2px 0 0 #0e203d, 3px 3px 0 0 #0e203d, 4px 4px 0 0 #0e203d, 5px 5px 0 0 #0e203d, 6px 6px 0 0 #0e203d;
  width: 90%;
  padding: 2em;
  position: relative;
}

h2.modal-title {
  margin-top: 0;
}

.modal-close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  border: 0;
  appearance: none;
  background: transparent;
}

.notification {
  position: fixed;
  top: -4em;
  right: 1em;
  padding: 1em;
  background: #007bff;
  color: #fff;
  font-weight: bold;
  border: 2px #0e203d solid;
  border-radius: 10px;
  transition: top 600ms cubic-bezier(0.29, 0.84, 0.68, 1.17);
}

.notification-active {
  top: 1em;
}
